.color {
    background-color: black;
    height: 60px;

}
.searchBar{
    margin-left: auto;
}
.search{
    position: relative;
    background-color: rgba(255,255,255,0.2);
    color: white;
    width: 100%;
    border-radius: 2px;
    margin-top: 6px;
}
.search:hover{
    background-color: rgba(255,255,255,0.4);
}
.inputRoot{
    color:inherit;
}
.inputInput{
    padding: 0.5rem !important;
    margin-left: 1.5rem !important;
    color: white !important;
}
.inputInput::placeholder{
    color: white !important;
    opacity: 0.7 !important;
}
.searchIcon{
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3px;
}
.letras  {
    color: white;
    display: flex;
    text-align: left;
}


.titulosnav{
    color: white;
    text-decoration: none;
    
    
}
.imagen{
    height: 60px;
    margin-top: 10px;
    width: 200px;
}
.amarillo{
   
    color: rgb(255, 255, 1);
}

.dropdown {
    float: left;
    overflow: hidden;
  }

  


  .user{
      margin-left: auto;
      color: yellow;
      display:flex;
  }
 
  .nolink{
      text-decoration: none;
      color:white;
  }
  
 .divs{
     width: 80px;

 }

 /* .div{
     margin-left: 100px;
 } */

 .equipo{
     display: inline;
 }

 