.color {
    background-color: rgb(255, 255, 1);
    margin: auto;

}
.videos{
    padding: 1rem;
}
.searchBar{
    margin-left: auto;
}
.search{
    position: relative;
    background-color: rgba(0,0,0,0.2);
    color: black;
    width: 100%;
    border-radius: 2px;
    margin-top: 6px;
}
.search:hover{
    background-color: rgba(0,0,0,0.4);
}
.inputRoot{
    color:inherit;
}
.inputInput{
    padding: 0.5rem !important;
    margin-left: 1.5rem !important;
    color:black !important;
}
.inputInput::placeholder{
    color: black!important;
    opacity: 0.7 !important;
}
.searchIcon{
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3px;
}
.imagen{
    border: solid 2px black;
    width:200px;

}

.container{
    margin-bottom: 100px;
    margin: auto;
    width: 400px;
    margin-top: 100px;
    padding: 10px 10px 10px 10px;
    border: solid 2px black;

}
.button {
    margin-left: 8px;
    background-color: yellow;
    color: black;
}

.inputs{
    display: flex;
    justify-content: flex-start;
}
.form {
    width: 100%;
    

}

.margin{
    margin: 0.5rem !important;
    
}

